//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}
// adaptive font-size
@mixin adaptive-size($min, $max, $min-vw: 320, $max-vw: 1230) {
  font-size: clamp(
    #{$min}px,
    calc(#{$min}px + (#{$max} - #{$min}) * ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw}))),
    #{$max}px
  );
}
// adaptive
@mixin adaptive($property, $min, $max, $min-vw: 320, $max-vw: 1230) {

  $real-min: if($min < $max, $min, $max);
  $real-max: if($min > $max, $min, $max);

  #{$property}: clamp(
    #{$real-min}px,
    calc(#{$min}px + (#{$max} - #{$min}) *
    ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw}))),
    #{$real-max}px
  );
}
// Super adaptive
// @mixin adaptive($property, $min, $max, $min-vw: 320, $max-vw: 1230) {
//   $slope: ($max - $min) / ($max-vw - $min-vw);
//   $intercept: $min - $slope * $min-vw;

//   #{$property}: clamp(
//     #{$min}px,
//     #{$intercept}px + #{$slope * 100}vw,
//     #{$max}px
//   );
// }

@function fluid($min, $max, $min-vw: 320, $max-vw: 1230) {
  $slope: ($max - $min) / ($max-vw - $min-vw);
  $intercept: $min - $slope * $min-vw;

  @return clamp(
    #{$min}px,
    #{$intercept}px + #{$slope * 100}vw,
    #{$max}px
  );
}